### CLT

In [ ]:
salario = 1200
gasolina = 70
internet = 100
alimentos = 500
agua = 106
luz = 270
condominio = 570
entretenimento = 1200

quanto_sobra =